<mat-card>
  <section>
    <mat-card-content>
      <ul>
        <ng-container *ngFor="let u of users">
          <li *ngIf="u.role === 'admin'">{{ u.login }}</li>
        </ng-container>
      </ul>
    </mat-card-content>
  </section>

  <section>
    <mat-list>
      <h3>Users</h3>
      <ng-container *ngFor="let user of users">
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{ user.login }}</h4>
          <h4 mat-line>{{ user.role }}</h4>
          <h4 mat-line>{{ user.lastlogin | date }}</h4>
          <button mat-stroked-button color="primary">Save</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </section>
</mat-card>
