<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Examples of HTTP Request</span>
</mat-toolbar>
<br />
<div class="first">
  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Simple HTTP Get</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="simpleRequestProductsObs$ | async as prods">
        <mat-list-item *ngFor="let p of prods">
          <mat-icon mat-list-icon>shop</mat-icon>
          <h4 matLine>{{ p.name }}</h4>
          <h4 matLine>{{ p.department }}: {{ p.price | currency: "R$ " }}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="getSimpleHttpRequest()">
        <mat-icon>swap_vert</mat-icon> Send Request
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>

  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HTTP Get / Error Handling</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngIf="productsErrorHandling">
        <li *ngFor="let p of productsErrorHandling">
          {{ p.name }}
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="getProductsWitchErrorHandling()">
        <mat-icon>swap_vert</mat-icon> Error Request
      </button>
      <button
        mat-button
        color="primary"
        (click)="getProductsWitchErrorHandlingOk()"
      >
        <mat-icon>swap_vert</mat-icon> Success Request
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>

  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HTTP Get / Loading</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngIf="productsLoading">
        <li *ngFor="let p of productsLoading">
          {{ p.name }} - {{ p.department }}({{ p.price | currency: "R$ " }})
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="getProductsLoading()">
        <mat-icon>swap_vert</mat-icon>Request Loading
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="query" *ngIf="bLoading"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Getting text from the server</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let p of productsIDs; let i = index">
          <mat-icon mat-list-icon>shop</mat-icon>
          <h4 matLine *ngIf="p.name !== ''">{{ p.name }}</h4>
          <h4 matLine *ngIf="p.name === ''">Product index: {{ i }}</h4>
          <button
            mat-icon-button
            *ngIf="p.name === ''"
            (click)="loadNameProduct(p._id)"
          >
            <mat-icon color="accent">refresh</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="getProductsdIDs()">
        <mat-icon>swap_vert</mat-icon>Get IDs
      </button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>

  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HTTP Post Request</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        style="
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        "
      >
        <mat-form-field>
          <input
            matInput
            placeholder="Product Name"
            value=""
            type="text"
            #name
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Department" value="" type="text" #dep />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Price" value="" type="number" #price />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="saveProduct(name.value, dep.value, price.value)"
      >
        <mat-icon>save</mat-icon> Save
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-chip-list>
        <mat-chip
          *ngFor="let p of newlyProducts"
          style="margin-left: 10px; margin-bottom: 10px"
        >
          {{ p.name }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HTTP Delete Request</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let p of productsToDelete">
          <mat-icon mat-list-icon>shop</mat-icon>
          <h4 matLine>{{ p.name }}</h4>
          <h4 matLine>{{ p.department }}: {{ p.price | currency: "R$ " }}</h4>
          <button mat-icon-button color="accent" (click)="deleteProduct(p)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="loadProductToDelete()">
        <mat-icon>swap_vert</mat-icon> Send Request
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>

  <mat-card class="card-item mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HTTP Patch Request</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let p of productsToEdit">
          <mat-icon mat-list-icon>shop</mat-icon>
          <h4 matLine>{{ p.name }}</h4>
          <h4 matLine>{{ p.department }}: {{ p.price | currency: "R$ " }}</h4>
          <button mat-icon-button color="accent" (click)="editProduct(p)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="loadProductToEdit()">
        <mat-icon>swap_vert</mat-icon> Load Products
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
