<div style="padding: 30px">
  <!-- DATA BINDING -->
  <!-- <app-string-interpolation></app-string-interpolation> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-data-binding></app-two-way-data-binding> -->
  <!-- DIRECTIVES -->
  <!-- <app-ng-style></app-ng-style> -->
  <!-- <app-ng-class></app-ng-class> -->
  <!-- <app-ng-if></app-ng-if> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-template></app-ng-template> -->
  <!-- <app-ng-container></app-ng-container> -->
  <!-- <app-ng-content>
    <p>My name is <strong>Lucas Martins.</strong></p>
    <p>Nice to meet you!</p>
  </app-ng-content> -->
  <!-- COMMUNICATION -->
  <!-- <app-input-binding
    [person]="person"
    [name]="name"
    otherName="Martins"
  ></app-input-binding> -->
  <!-- <app-output-binding></app-output-binding> -->
  <!-- <app-clients></app-clients> -->
  <!-- <app-parent-chield></app-parent-chield> -->
  <!-- <app-on-changes></app-on-changes> -->
  <!-- <app-intercepting></app-intercepting> -->
  <!-- ANGULAR LIFECYCLE -->
  <!-- <app-main></app-main> -->
  <!-- SERVICES -->
  <!-- <app-services-examples></app-services-examples> -->
  <!-- OBSERVABLES -->
  <!-- <app-basic></app-basic> -->
  <!-- <app-cold-observables></app-cold-observables> -->
  <!-- <app-intro></app-intro> -->
  <!-- <app-subjects></app-subjects> -->
  <!-- OPERATORS RXJS -->
  <!-- <div
    style="
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      height: 700px;
      width: 100%;
    "
  >
    <div style="width: 20%">
      <mat-radio-group
        style="display: flex; flex-direction: column; align-items: flex-start"
        [(ngModel)]="option"
      >
        <mat-radio-button value="basic-creation">
          Basic Creation
        </mat-radio-button>
        <mat-radio-button value="operators"> Operators </mat-radio-button>
        <mat-radio-button value="async"> Templates \ Async </mat-radio-button>
        <mat-radio-button value="error-handling">
          Error Handling
        </mat-radio-button>
        <mat-radio-button value="drag-and-drop">
          Drag and Drop
        </mat-radio-button>
        <mat-radio-button value="switch-merge"> Switch Merge </mat-radio-button>
        <mat-radio-button value="unsubscribe"> Unsubscribe </mat-radio-button>
      </mat-radio-group>
    </div>
    <div
      style="
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      "
    >
      <ng-container [ngSwitch]="option">
        <mat-card
          style="
            background-color: blanchedalmond;
            width: 100%;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397);
          "
          *ngIf="option"
        >
          <app-basic-creation
            style="width: 100%"
            *ngSwitchCase="'basic-creation'"
          ></app-basic-creation>
          <app-operators style="width: 100%" *ngSwitchCase="'operators'">
          </app-operators>
          <app-async style="width: 100%" *ngSwitchCase="'async'"></app-async>
          <app-error-handling
            style="width: 100%"
            *ngSwitchCase="'error-handling'"
          ></app-error-handling>
          <app-drag-and-drop
            style="width: 100%"
            *ngSwitchCase="'drag-and-drop'"
          ></app-drag-and-drop>
          <app-unsubscribe
            style="width: 100%"
            *ngSwitchCase="'unsubscribe'"
          ></app-unsubscribe>
          <app-switch-merge
            style="width: 100%"
            *ngSwitchCase="'switch-merge'"
          ></app-switch-merge>
        </mat-card>
      </ng-container>
    </div>
  </div> -->
  <!-- HTTP-CLIENT -->
  <app-client></app-client>
</div>
