<div style="margin: 20px">
  <!-- DATA BINDING -->
  <!-- <app-string-interpolation></app-string-interpolation> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-data-binding></app-two-way-data-binding> -->
  <!-- DIRECTIVES -->
  <!-- <app-ng-style></app-ng-style> -->
  <!-- <app-ng-class></app-ng-class> -->
  <!-- <app-ng-if></app-ng-if> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-template></app-ng-template> -->
  <!-- <app-ng-container></app-ng-container> -->
  <!-- <app-ng-content>
    <p>My name is <strong>Lucas Martins.</strong></p>
    <p>Nice to meet you!</p>
  </app-ng-content> -->
  <!-- COMMUNICATION -->
  <!-- <app-input-binding
    [person]="person"
    [name]="name"
    otherName="Martins"
  ></app-input-binding> -->
  <!-- <app-output-binding></app-output-binding> -->
  <!-- <app-clients></app-clients> -->
  <!-- <app-parent-chield></app-parent-chield> -->
  <!-- <app-on-changes></app-on-changes> -->
  <!-- <app-intercepting></app-intercepting> -->
  <!-- ANGULAR LIFECYCLE -->
  <app-main></app-main>
</div>
